In [1]:
import pandas as pd
LOCAL_PEOPLE= pd.read_csv('data/LOCAL_PEOPLE_GU_2020.csv',encoding='cp949')
#LOCAL_PEOPLE.head(2)

In [2]:
LOCAL_PEOPLE['자치구코드']=LOCAL_PEOPLE['자치구코드'].replace([11680, 11740,11305,11500,11620, 11215, 11530, 11545, 11350, 11320, 11230, 11590, 11440, 11410, 11650, 11200, 11290, 11710, 11470, 11560, 11170, 11380, 11110, 11140, 11260],['강남구','강동구','강북구','강서구','관악구','광진구', '구로구' , '금천구','노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구','서초구', '성동구','성북구', '송파구', '양천구','영등포구','용산구','은평구','종로구','중구','중랑구'])
LOCAL_PEOPLE.head(2)

,기준일ID,시간대구분,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20200101,0,종로구,248283.0355,6496.6713,3519.7135,6348.0673,12253.9712,12938.7039,9583.1787,...,11259.3854,8426.5599,8607.0974,8011.5248,9875.9187,8486.6664,9490.4589,8222.0645,6400.1665,17695.4216
1,20200101,0,중구,187720.0184,4655.7791,1817.9263,3500.9994,7226.0512,9428.2194,8787.5163,...,10079.4077,8195.3502,8308.9521,6605.4908,7053.0874,5983.3255,6620.2703,5915.9446,4544.3436,11603.8885

In [3]:
LOCAL_PEOPLE2=LOCAL_PEOPLE.drop(LOCAL_PEOPLE.columns[[0,1]],axis=1)
LOCAL_PEOPLE2.head(2)

,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,종로구,248283.0355,6496.6713,3519.7135,6348.0673,12253.9712,12938.7039,9583.1787,9696.6035,8895.0342,...,11259.3854,8426.5599,8607.0974,8011.5248,9875.9187,8486.6664,9490.4589,8222.0645,6400.1665,17695.4216
1,중구,187720.0184,4655.7791,1817.9263,3500.9994,7226.0512,9428.2194,8787.5163,9442.4510,8264.1337,...,10079.4077,8195.3502,8308.9521,6605.4908,7053.0874,5983.3255,6620.2703,5915.9446,4544.3436,11603.8885

In [4]:
data = pd.pivot_table(LOCAL_PEOPLE2,index=['자치구코드'],aggfunc='sum')
data.head(2)

,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,남자45세부터49세생활인구수,남자50세부터54세생활인구수,...,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,총생활인구수
자치구코드,,,,,,,,,,,,,,,,,,,,,
강남구,2.037901e+08,1.363659e+08,2.177839e+08,1.852499e+08,2.933895e+08,3.180448e+08,3.759120e+08,3.492835e+08,3.610191e+08,2.590273e+08,...,3.494189e+08,3.520917e+08,3.155155e+08,3.123923e+08,2.202110e+08,2.160525e+08,1.969962e+08,1.522420e+08,3.424076e+08,7.071819e+09
강동구,1.847982e+08,1.030467e+08,1.289951e+08,1.113175e+08,1.348171e+08,1.427129e+08,1.776420e+08,1.719581e+08,1.790590e+08,1.444421e+08,...,1.588385e+08,1.947263e+08,1.788693e+08,1.875450e+08,1.667970e+08,1.980396e+08,1.818268e+08,1.361729e+08,2.988338e+08,4.428900e+09

In [5]:
localdata=data.reset_index()
localdata.head(2)

,자치구코드,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,남자45세부터49세생활인구수,...,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,총생활인구수
0,강남구,2.037901e+08,1.363659e+08,2.177839e+08,1.852499e+08,2.933895e+08,3.180448e+08,3.759120e+08,3.492835e+08,3.610191e+08,...,3.494189e+08,3.520917e+08,3.155155e+08,3.123923e+08,2.202110e+08,2.160525e+08,1.969962e+08,1.522420e+08,3.424076e+08,7.071819e+09
1,강동구,1.847982e+08,1.030467e+08,1.289951e+08,1.113175e+08,1.348171e+08,1.427129e+08,1.776420e+08,1.719581e+08,1.790590e+08,...,1.588385e+08,1.947263e+08,1.788693e+08,1.875450e+08,1.667970e+08,1.980396e+08,1.818268e+08,1.361729e+08,2.988338e+08,4.428900e+09

In [6]:
localdata2=localdata[['자치구코드', '총생활인구수']]
localdata2=localdata2.sort_values(by=['자치구코드'])
localdata2

   자치구코드        총생활인구수
0    강남구  7.071819e+09
1    강동구  4.428900e+09
2    강북구  2.668427e+09
3    강서구  4.760585e+09
4    관악구  4.280152e+09
5    광진구  3.226628e+09
6    구로구  3.420235e+09
7    금천구  1.965451e+09
8    노원구  4.628147e+09
9    도봉구  2.475458e+09
10  동대문구  3.120200e+09
11   동작구  3.471770e+09
12   마포구  3.986391e+09
13  서대문구  3.160764e+09
14   서초구  5.010212e+09
15   성동구  3.009586e+09
16   성북구  3.754145e+09
17   송파구  6.571526e+09
18   양천구  3.506790e+09
19  영등포구  4.010552e+09
20   용산구  2.491271e+09
21   은평구  3.948586e+09
22   종로구  2.420484e+09
23    중구  2.218879e+09
24   중랑구  3.162280e+09

In [7]:
def min_max(x,data):
    result=(x-min(data))/(max(data)-min(data))
    return result
result=[]
for i in localdata2['총생활인구수']:
    result.append(min_max(i,localdata2['총생활인구수']))
result

[1.0,
 0.48242694770415123,
 0.13766659022353583,
 0.5473820059623343,
 0.453297009508454,
 0.2469812950910856,
 0.2848961414402874,
 0.0,
 0.521446198164762,
 0.09987673043673538,
 0.22613899648909253,
 0.29498834573566735,
 0.39576854519948534,
 0.2340829590364067,
 0.5962674917032779,
 0.2044770237227419,
 0.35028694939489896,
 0.9020257446410588,
 0.30184646745868254,
 0.40050020570101513,
 0.1029735599591991,
 0.3883651066127798,
 0.08911093834422777,
 0.04962985862703051,
 0.23437975133723704]

In [8]:
import pandas as pd
LOCAL_PEOPLE= pd.read_csv('data/LOCAL_PEOPLE_DONG_202007.csv')

In [9]:
LOCAL_PEOPLE=LOCAL_PEOPLE.reset_index()

In [10]:
LOCAL_PEOPLE=LOCAL_PEOPLE.iloc[:,:-1]

In [11]:
LOCAL_PEOPLE.columns=['기준일ID', '시간대구분', '행정동코드', '총생활인구수', '남자0세부터9세생활인구수', '남자10세부터14세생활인구수', '남자15세부터19세생활인구수', '남자20세부터24세생활인구수', '남자25세부터29세생활인구수', '남자30세부터34세생활인구수', '남자35세부터39세생활인구수', '남자40세부터44세생활인구수', '남자45세부터49세생활인구수', '남자50세부터54세생활인구수', '남자55세부터59세생활인구수', '남자60세부터64세생활인구수', '남자65세부터69세생활인구수', '남자70세이상생활인구수', '여자0세부터9세생활인구수', '여자10세부터14세생활인구수', '여자15세부터19세생활인구수', '여자20세부터24세생활인구수', '여자25세부터29세생활인구수', '여자30세부터34세생활인구수', '여자35세부터39세생활인구수', '여자40세부터44세생활인구수', '여자45세부터49세생활인구수', '여자50세부터54세생활인구수', '여자55세부터59세생활인구수', '여자60세부터64세생활인구수', '여자65세부터69세생활인구수', '여자70세이상생활인구수']
LOCAL_PEOPLE

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20200701,0,11110515,14773.2604,621.4582,395.9947,487.1634,550.8177,499.6241,424.4157,...,471.0647,501.4026,597.4793,780.7172,777.0026,617.2030,536.2137,438.9114,346.4921,1071.4116
1,20200701,0,11110530,15499.4888,326.6328,145.1701,238.2207,444.0626,573.2010,588.8664,...,636.9304,704.9105,767.6820,699.6366,733.5509,555.6052,564.6614,491.8328,375.7430,1322.5299
2,20200701,0,11110550,15008.6861,449.7990,348.7682,362.2649,510.5162,387.9156,384.6505,...,462.6491,434.1373,581.0931,632.9321,833.0104,650.1859,679.2050,589.4923,370.6056,1469.8617
3,20200701,0,11110600,5434.7168,82.4150,58.1751,251.4565,172.2504,134.8644,171.1368,...,174.8280,213.7579,254.9613,227.8089,290.7109,213.7547,219.7778,175.5932,146.3641,486.7137
4,20200701,0,11110700,7690.0882,222.9094,105.6441,138.5511,221.1408,259.4177,283.8685,...,347.1996,264.3983,323.3927,300.3502,352.0464,328.2845,370.1972,287.1212,227.7060,525.7458
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315451,20200731,23,11230720,14938.0155,286.7625,159.1065,334.4161,819.5690,830.8105,568.6624,...,809.5179,561.0498,599.8824,473.6470,491.3601,545.8099,402.8257,462.6431,353.4015,1055.0787
315452,20200731,23,11350619,24322.3204,1013.1149,1306.0988,1455.8241,634.2469,473.2502,298.4278,...,559.4391,337.1614,681.1269,1223.9785,1682.9651,1048.9186,985.3434,611.9153,385.0044,1155.1229
315453,20200731,23,11740590,14990.8549,839.5537,392.4011,472.9381,270.5954,352.2796,350.2896,...,378.3782,548.1222,768.4769,716.3669,633.8204,576.5069,601.0517,494.2876,383.2139,876.9770
315454,20200731,23,11110530,16540.1062,388.7430,172.7749,281.8712,526.2431,569.1728,702.1053,...,809.9451,766.6806,833.7487,725.6939,768.0608,590.4356,631.0199,452.1479,345.3594,1329.9480
315455,20200731,23,11380650,11570.6570,310.5221,194.9610,308.4446,308.9854,366.8718,403.3976,...,492.6206,488.2183,569.2801,374.9607,461.9529,425.2382,449.5076,400.8648,288.8977,892.5003

In [12]:
data = pd.pivot_table(LOCAL_PEOPLE,index=['행정동코드'],aggfunc='sum')
data.head(2)

,기준일ID,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,남자45세부터49세생활인구수,...,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,총생활인구수
행정동코드,,,,,,,,,,,,,,,,,,,,,
11110515,15029332704,434081.2286,276597.6187,430805.8034,420257.3866,471201.9699,438212.6194,5.033909e+05,444712.5805,5.891625e+05,...,4.455579e+05,5.066596e+05,571722.6779,570484.5352,481879.1565,454457.4147,330089.1552,272615.1325,7.871492e+05,1.185797e+07
11110530,15029332704,315419.1728,140186.2979,221880.8817,491906.5293,782872.2654,917278.2051,1.159909e+06,964965.1636,1.256777e+06,...,1.126591e+06,1.121099e+06,912702.5883,889501.5919,671589.8821,655663.7323,528750.2159,368679.3481,1.095283e+06,1.948225e+07

In [13]:
localdata=data.reset_index()
localdata.head(2)

,행정동코드,기준일ID,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,...,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,총생활인구수
0,11110515,15029332704,434081.2286,276597.6187,430805.8034,420257.3866,471201.9699,438212.6194,5.033909e+05,444712.5805,...,4.455579e+05,5.066596e+05,571722.6779,570484.5352,481879.1565,454457.4147,330089.1552,272615.1325,7.871492e+05,1.185797e+07
1,11110530,15029332704,315419.1728,140186.2979,221880.8817,491906.5293,782872.2654,917278.2051,1.159909e+06,964965.1636,...,1.126591e+06,1.121099e+06,912702.5883,889501.5919,671589.8821,655663.7323,528750.2159,368679.3481,1.095283e+06,1.948225e+07

In [14]:
localdata = localdata[['행정동코드','총생활인구수']]

In [15]:
import pydeck as pdk

In [16]:
geo_data = 'data/older_seoul.geojson'
geo_data

'data/older_seoul.geojson'

In [17]:
import geopandas as gpd

df = gpd.read_file(geo_data)
df.head()
df.to_csv("polygon.csv")

c:\Users\dlagh\anaconda3\lib\site-packages\geopandas\array.py:85: ShapelyDeprecationWarning: __len__ for multi-part geometries is deprecated and will be removed in Shapely 2.0. Check the length of the `geoms` property instead to get the  number of parts of a multi-part geometry.
  aout[:] = out
c:\Users\dlagh\anaconda3\lib\site-packages\geopandas\array.py:85: ShapelyDeprecationWarning: Iteration over multi-part geometries is deprecated and will be removed in Shapely 2.0. Use the `geoms` property to access the constituent parts of a multi-part geometry.
  aout[:] = out

In [19]:
def multipolygon_to_coordinates(x):
    lon, lat = x[0].exterior.xy
    return [[x, y] for x, y in zip(lon, lat)]

df['coordinates'] = df['geometry'].apply(multipolygon_to_coordinates)
del df['geometry']

<ipython-input-19-a786e2439595>:2: ShapelyDeprecationWarning: __getitem__ for multi-part geometries is deprecated and will be removed in Shapely 2.0. Use the `geoms` property to access the constituent parts of a multi-part geometry.
  lon, lat = x[0].exterior.xy

In [20]:
# 인구를 0 ~ 1 사이의 값으로 변환시킵니다.
df['정규화인구'] = df['인구'] / df['인구'].max()

In [21]:
import pandas as pd

df = pd.DataFrame(df)
df.dtypes

시               object
구               object
동               object
행정동코드            int64
인구               int64
남자               int64
여자               int64
coordinates     object
정규화인구          float64
dtype: object

In [22]:
local_df = pd.merge(df, localdata, how="left", on="행정동코드")
local_df=local_df.drop(['인구','남자','여자','정규화인구'],axis=1)

In [23]:
local_df['정규화인구'] = local_df['총생활인구수'] / local_df['총생활인구수'].max()

In [24]:
local_df.head()

,시,구,동,행정동코드,coordinates,총생활인구수,정규화인구
0,서울특별시,종로구,사직동,11110530,"[[126.97688884274817, 37.575650779448786], [12...",1.948225e+07,0.230224
1,서울특별시,종로구,삼청동,11110540,"[[126.98268938649305, 37.5950655194224], [126....",4.534422e+06,0.053584
2,서울특별시,종로구,부암동,11110550,"[[126.97585113775686, 37.59656422224408], [126...",1.056294e+07,0.124823
3,서울특별시,종로구,평창동,11110560,"[[126.97507466788086, 37.63138628651299], [126...",1.431969e+07,0.169217
4,서울특별시,종로구,무악동,11110570,"[[126.96067353273895, 37.580797842029725], [12...",5.320325e+06,0.062871

In [25]:
country_list = ['종로구', '중구',]
local_df2=local_df[local_df['구'].isin(country_list)]
local_df2.head(10)

,시,구,동,행정동코드,coordinates,총생활인구수,정규화인구
0,서울특별시,종로구,사직동,11110530,"[[126.97688884274817, 37.575650779448786], [12...",1.948225e+07,0.230224
1,서울특별시,종로구,삼청동,11110540,"[[126.98268938649305, 37.5950655194224], [126....",4.534422e+06,0.053584
2,서울특별시,종로구,부암동,11110550,"[[126.97585113775686, 37.59656422224408], [126...",1.056294e+07,0.124823
3,서울특별시,종로구,평창동,11110560,"[[126.97507466788086, 37.63138628651299], [126...",1.431969e+07,0.169217
4,서울특별시,종로구,무악동,11110570,"[[126.96067353273895, 37.580797842029725], [12...",5.320325e+06,0.062871
5,서울특별시,종로구,교남동,11110580,"[[126.96904837001854, 37.56819441770833], [126...",5.072404e+06,0.059941
6,서울특별시,종로구,가회동,11110600,"[[126.98913590308945, 37.59130668631862], [126...",5.752181e+06,0.067974
7,서울특별시,종로구,종로1.2.3.4가동,11110615,"[[126.99649978451932, 37.581022567729896], [12...",4.849834e+07,0.573110
8,서울특별시,종로구,종로5.6가동,11110630,"[[127.01016044839562, 37.57156810157083], [127...",1.392737e+07,0.164581
9,서울특별시,종로구,이화동,11110640,"[[127.00733253963132, 37.583203339216226], [12...",1.774538e+07,0.209699

In [30]:
local_df3=local_df2[local_df2['동'].isin(['종로1.2.3.4가동','이화동','혜화동','신당동'])]

In [49]:
local_df3=local_df3[['구','동','coordinates']]
local_df3

      구            동                                        coordinates
7   종로구  종로1.2.3.4가동  [[126.99649978451932, 37.581022567729896], [12...
9   종로구          이화동  [[127.00733253963132, 37.583203339216226], [12...
16  종로구          혜화동  [[127.00419481761703, 37.58795048303252], [127...
27   중구          신당동  [[127.0180743572028, 37.56556664980869], [127....

In [50]:
local_df3['CCTV 필요등급']="1급"
local_df3['점수']= [172.44,22,45.32,5.3]
local_df3

<ipython-input-50-2066785adbf3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  local_df3['CCTV 필요등급']="1급"
<ipython-input-50-2066785adbf3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  local_df3['점수']= [172.44,22,45.32,5.3]

,구,동,coordinates,CCTV 필요등급,점수
7,종로구,종로1.2.3.4가동,"[[126.99649978451932, 37.581022567729896], [12...",1급,172.44
9,종로구,이화동,"[[127.00733253963132, 37.583203339216226], [12...",1급,22.00
16,종로구,혜화동,"[[127.00419481761703, 37.58795048303252], [127...",1급,45.32
27,중구,신당동,"[[127.0180743572028, 37.56556664980869], [127....",1급,5.30

In [47]:
MAPBOX_API_KEY = "pk.eyJ1IjoiZGxhZ2h3bHMxMTA0IiwiYSI6ImNsNGRva2Z6MjBhY20zY3M2N210NGtjZmYifQ.4Lw77ZFd7aZKB3b38ymtyg"

In [52]:
# Make layer
layer = pdk.Layer(
    'PolygonLayer', # 사용할 Layer 타입
    local_df3, # 시각화에 쓰일 데이터프레임
    get_polygon='coordinates', # geometry 정보를 담고있는 컬럼 이름
    get_fill_color='[0, 점수, 점수]', # 각 데이터 별 rgb 또는 rgba 값 (0~255)
    pickable=True, # 지도와 interactive 한 동작 on
    auto_highlight=True, # 마우스 오버(hover) 시 박스 출력
)


# Set the viewport location
center = [126.986, 37.565]
view_state = pdk.ViewState(
    longitude=center[0],
    latitude=center[1],
    zoom=10)

# Render
r = pdk.Deck(layers=[layer],mapbox_key = MAPBOX_API_KEY ,initial_view_state=view_state)
r.to_html("result.html")

In [33]:
import pandas as pd
house = pd.read_excel('data/주택현황.xls')
house=house.drop(0)
house=house.iloc[:,2:7]
house[['동','종류별 주택수','단독주택','다가구주택']]=house[['동','종류별 주택수','종류별 주택수.2','종류별 주택수.3']]
house=house.iloc[3:,:]
house = house[['동','종류별 주택수','단독주택','다가구주택']]
house=house.replace('X','')
house['단독주택'] = pd.to_numeric(house['단독주택'])
house['다가구주택'] = pd.to_numeric(house['다가구주택'])
house['종류별 주택수'] =pd.to_numeric(house['종류별 주택수'])
house['합계']=house['단독주택'] + house['다가구주택']
house['비율']=house['합계'] / house['종류별 주택수']
house

        동  종류별 주택수    단독주택   다가구주택      합계        비율
4     사직동     2778   467.0   108.0   575.0  0.206983
5     삼청동      730   414.0   134.0   548.0  0.750685
6     부암동     3070   750.0   214.0   964.0  0.314007
7     평창동     5958  1088.0   314.0  1402.0  0.235314
8     무악동     2860    14.0     9.0    23.0  0.008042
..    ...      ...     ...     ...     ...       ...
448  둔촌1동        5     NaN     NaN     NaN       NaN
449  둔촌2동     7962    31.0   377.0   408.0  0.051243
450  암사1동    10089    20.0   889.0   909.0  0.090098
451  천호2동     9362   103.0  1134.0  1237.0  0.132130
452    길동    14776    16.0   590.0   606.0  0.041012

[449 rows x 6 columns]

In [34]:
house_df = pd.merge(local_df3, house, how="left", on="동")
house_df=house_df.drop(['시','행정동코드','종류별 주택수','단독주택','다가구주택'],axis=1)
house_df

,구,동,coordinates,총생활인구수,정규화인구,합계,비율
0,종로구,종로1.2.3.4가동,"[[126.99649978451932, 37.581022567729896], [12...",4.849834e+07,0.573110,394.0,0.238499
1,강남구,신사동,"[[127.02807815323149, 37.519584003369], [127.0...",2.879420e+07,0.340264,1393.0,0.330800
2,강남구,신사동,"[[127.02807815323149, 37.519584003369], [127.0...",2.879420e+07,0.340264,235.0,0.047494
3,강남구,논현1동,"[[127.03388735284663, 37.507392031326404], [12...",3.409276e+07,0.402878,684.0,0.084309
4,강남구,논현2동,"[[127.03917807519049, 37.52290539552294], [127...",3.433846e+07,0.405781,473.0,0.066321
5,강남구,삼성1동,"[[127.06696185902243, 37.52508139275426], [127...",3.210369e+07,0.379373,173.0,0.037650
6,강남구,삼성2동,"[[127.05669182523995, 37.50685502947763], [127...",3.081038e+07,0.364090,300.0,0.029475
7,강남구,대치4동,"[[127.06086060326552, 37.498873222071545], [12...",2.760084e+07,0.326162,356.0,0.054235
8,강남구,역삼1동,"[[127.04717823495142, 37.503974029697545], [12...",8.462309e+07,1.000000,958.0,0.079867
9,강남구,역삼2동,"[[127.05251024275957, 37.497053881550904], [12...",4.054886e+07,0.479170,253.0,0.021329
10,강남구,세곡동,"[[127.11103542064541, 37.48293504402488], [127...",3.375966e+07,0.398942,694.0,0.055097
11,강남구,압구정동,"[[127.04596169234225, 37.53250292666626], [127...",3.554544e+07,0.420044,96.0,0.010840
12,강남구,청담동,"[[127.05656656376357, 37.52910117290874], [127...",3.419701e+07,0.404110,273.0,0.028055
13,강남구,대치2동,"[[127.06880349802961, 37.51000278936198], [127...",4.125849e+07,0.487556,91.0,0.008192

In [35]:
house_df2=house_df.sort_values(by='비율',ascending=False)

In [36]:
house_df2=house_df2.iloc[:5]
house_df2

,구,동,coordinates,총생활인구수,정규화인구,합계,비율
1,강남구,신사동,"[[127.02807815323149, 37.519584003369], [127.0...",2.879420e+07,0.340264,1393.0,0.330800
0,종로구,종로1.2.3.4가동,"[[126.99649978451932, 37.581022567729896], [12...",4.849834e+07,0.573110,394.0,0.238499
3,강남구,논현1동,"[[127.03388735284663, 37.507392031326404], [12...",3.409276e+07,0.402878,684.0,0.084309
8,강남구,역삼1동,"[[127.04717823495142, 37.503974029697545], [12...",8.462309e+07,1.000000,958.0,0.079867
4,강남구,논현2동,"[[127.03917807519049, 37.52290539552294], [127...",3.433846e+07,0.405781,473.0,0.066321

In [19]:
df.dtypes

시             object
구             object
동             object
행정동코드          int64
인구             int64
남자             int64
여자             int64
geometry    geometry
dtype: object

In [20]:
# Make layer
layer = pdk.Layer(
    'PolygonLayer', # 사용할 Layer 타입
    house_df2, # 시각화에 쓰일 데이터프레임
    get_polygon='coordinates', # geometry 정보를 담고있는 컬럼 이름
    get_fill_color='[0, 255*정규화인구, 0]', # 각 데이터 별 rgb 또는 rgba 값 (0~255)
    pickable=True, # 지도와 interactive 한 동작 on
    auto_highlight=True # 마우스 오버(hover) 시 박스 출력
)
layer2 = pdk.Layer(
    'PolygonLayer', # 사용할 Layer 타입
    df, # 시각화에 쓰일 데이터프레임
    get_polygon='coordinates', # geometry 정보를 담고있는 컬럼 이름
    get_fill_color='[0,0,0,50]', # 각 데이터 별 rgb 또는 rgba 값 (0~255)
    pickable=True, # 지도와 interactive 한 동작 on
    auto_highlight=True, # 마우스 오버(hover) 시 박스 출력
)


# Set the viewport location
center = [126.986, 37.565]
view_state = pdk.ViewState(
    longitude=center[0],
    latitude=center[1],
    zoom=10)

# Render
r = pdk.Deck(layers=[layer,layer2],mapbox_key = MAPBOX_API_KEY ,initial_view_state=view_state)
r.to_html('house.html')

NameError: name 'house_df2' is not defined

In [69]:
layer = pdk.Layer(
    "PolygonLayer", # 대용량 데이터의 경우 'GPUGridLayer'
    house_df2,
    get_position='coordinates',
    pickable=True,
    auto_highlight=True
)

center = [126.986, 37.565]
view_state = pdk.ViewState(
    longitude=center[0],
    latitude=center[1],
    zoom=10)

r = pdk.Deck(layers=[layer], mapbox_key = MAPBOX_API_KEY,initial_view_state=view_state)
r.to_html('demo2.html')

In [76]:
a=[[ 127.004194817617034, 37.587950483032522 ], [ 127.004186196139415, 37.587770108513411 ], [ 127.004183558460028, 37.58771354437431 ], [ 127.004163889918672, 37.587290065062213 ], [ 127.004299747286751, 37.587086705567479 ], [ 127.004609217144889, 37.58699522489745 ], [ 127.004703210052114, 37.586985871302481 ], [ 127.005124685357671, 37.58694595193991 ], [ 127.005540834166297, 37.586961216120095 ], [ 127.005608613209574, 37.586952486584892 ], [ 127.005735669142851, 37.586936118476615 ], [ 127.00593335431671, 37.586909905760365 ], [ 127.006527493798131, 37.586128221213336 ], [ 127.007149932, 37.584058940532223 ], [ 127.007354936809165, 37.583363335858948 ], [ 127.007332539631321, 37.583203339216226 ], [ 127.006182195381456, 37.583961294859598 ], [ 127.005804595261452, 37.584756278282704 ], [ 127.002720829472054, 37.583723680505784 ], [ 127.001721128340492, 37.583133635452405 ], [ 127.001804621914033, 37.582530312837932 ], [ 126.998230263086867, 37.581266540340998 ], [ 126.996499784519315, 37.581022567729896 ], [ 126.996542085846229, 37.581573695427267 ], [ 126.996265463704233, 37.582707083415222 ], [ 126.99602795514383, 37.583287437105433 ], [ 126.995874283411808, 37.583507610397348 ], [ 126.993289283461209, 37.586929537014079 ], [ 126.992291570643459, 37.587195623262325 ], [ 126.991299140819478, 37.587065192782845 ], [ 126.989299255618135, 37.587279639521277 ], [ 126.988430380678651, 37.587422345374627 ], [ 126.988308367607232, 37.587469119033116 ], [ 126.989135903089448, 37.591306686318617 ], [ 126.998532154767688, 37.592506460954141 ], [ 126.998745178622769, 37.592516379265064 ], [ 126.998974158656836, 37.592471158530415 ], [ 126.999372005073269, 37.592366811718563 ], [ 127.000624526588396, 37.592453365719116 ], [ 127.000785997076406, 37.592445035342962 ], [ 127.000942194290261, 37.59239265541499 ], [ 127.001559767275126, 37.591918766063898 ], [ 127.001581285138769, 37.591889637168478 ], [ 127.001681228018867, 37.591752530323944 ], [ 127.001911843058139, 37.591248750276471 ], [ 127.001786992018438, 37.590861772129998 ], [ 127.001698105334796, 37.590602260509655 ], [ 127.001658251840468, 37.590101846311057 ], [ 127.002337818778557, 37.58915379544608 ], [ 127.002385632495205, 37.589103999467589 ], [ 127.002430491937389, 37.589057291639662 ], [ 127.003419879437615, 37.588355029626356 ], [ 127.004194817617034, 37.587950483032522 ]]

In [78]:
lng=[]
lat=[]
for i in a:
    lng.append(i[0])
    lat.append(i[1])

[37.58795048303252, 37.58777010851341, 37.58771354437431, 37.58729006506221, 37.58708670556748, 37.58699522489745, 37.58698587130248, 37.58694595193991, 37.586961216120095, 37.58695248658489, 37.586936118476615, 37.586909905760365, 37.586128221213336, 37.58405894053222, 37.58336333585895, 37.583203339216226, 37.5839612948596, 37.584756278282704, 37.583723680505784, 37.583133635452405, 37.58253031283793, 37.581266540341, 37.581022567729896, 37.58157369542727, 37.58270708341522, 37.58328743710543, 37.58350761039735, 37.58692953701408, 37.587195623262325, 37.587065192782845, 37.58727963952128, 37.58742234537463, 37.587469119033116, 37.59130668631862, 37.59250646095414, 37.592516379265064, 37.592471158530415, 37.59236681171856, 37.592453365719116, 37.59244503534296, 37.59239265541499, 37.5919187660639, 37.59188963716848, 37.591752530323944, 37.59124875027647, 37.59086177213, 37.590602260509655, 37.59010184631106, 37.58915379544608, 37.58910399946759, 37.58905729163966, 37.588355029626356, 37.58795048303252]

In [79]:
df= pd.DataFrame({'lng':lng,'lat':lat})
df.head()

          lng        lat
0  127.004195  37.587950
1  127.004186  37.587770
2  127.004184  37.587714
3  127.004164  37.587290
4  127.004300  37.587087

In [81]:
layer = pdk.Layer(
     'CPUGridLayer',
    df,
    get_position='[lng, lat]',
    get_radius=50,
    get_fill_color='[255, 255, 255]',
    pickable=True,
    auto_highlight=True
)

center = [126.986, 37.565]
view_state = pdk.ViewState(
    longitude=center[0],
    latitude=center[1],
    zoom=10)

r = pdk.Deck(layers=[layer],mapbox_key = MAPBOX_API_KEY, initial_view_state=view_state)
r.show()

DeckGLWidget(google_maps_key=None, json_input='{"initialViewState": {"latitude": 37.565, "longitude": 126.986,…

In [86]:
layer.type = 'ScreenGridLayer'
layer.cellSizePixels = 10 # default 100

view_state.bearing = 0
view_state.pitch = 0

r = pdk.Deck(layers=[layer],mapbox_key = MAPBOX_API_KEY, initial_view_state=view_state)
r.show()

DeckGLWidget(google_maps_key=None, json_input='{"initialViewState": {"bearing": 0, "latitude": 37.565, "longit…